# This is a comment.
# https://docs.python.org/3/distutils/sourcedist.html#the-manifest-in-template
# https://pypi.python.org/pypi/check-manifest

include Makefile
include .pylintrc

recursive-include docs *.jpg
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile

recursive-include etc *

recursive-include scripts *

recursive-include src *.py
recursive-include src *.ini
recursive-include src *.py
recursive-include src *.yml
recursive-include src README

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude src .coverage
recursive-exclude tests *
exclude tests
